* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.temp-container {
  display: flex;
}

#meanCard {
  border-radius: 3vw;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 5px #fff;
}

.allCards {
  color: #000;
}
.card-subtitle {
  text-align: center;
  font-size: 1.5vw;
  color: #fff;
}
#current-location {
  color: #fff;
}
#all-container {
  /* margin-top: -3.5vw; */
  height: 70vh;
  width: 100vw;
}
.bodyImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#map-container {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

#current-location {
  font-size: 2vw;
  color: yellow;
}
#current-weather {
  font-size: 1.5vw;
  color: yellow;
}

#currTem {
  font-size: 4vw;
  color: #fff;
}
#current-cloud {
  font-size: 2vw;
  color: yellow;
}
#fills-like {
  font-size: 1.5vw;
  color: yellow;
}
.card-title {
  color: yellow;
}

@media (max-width: 800px) {
  #all-container {
    height: 100vh;
  }
  #current-location {
    font-size: 6vw;
  }
  #current-weather {
    font-size: 5vw;
  }
  #currTem {
    margin-top: 3vw;
    font-size: 10vw;
  }
  #current-cloud {
    margin-top: 6vw;
    font-size: 5vw;
  }
  #fills-like {
    margin-top: 7vw;
    font-size: 6vw;
    color: red;
  }

  .card-subtitle {
    font-size: 5vw;
  }
  .allCards {
    margin-top: 2vw;
  }
  .card-content {
    margin-top: 4vw;
  }
}
